@{
    ViewData["Title"] = "Aracelis M";
    Layout = "/Views/Shared/AracelisM/_LayoutAM.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Aracelis Maita</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

</head>

<body>

    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre mi</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Experiencia</span></a></li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portafolio</span></a></li>
                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Servicios</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
            </ul>
        </nav>

    </header>

    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Aracelis Maita</h1>
            <p>Soy <span class="typed" data-typed-items="Ingeniera civil, Diseñadora, Freelancer"></span></p>
            <div class="social-links">
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/in/aracelis-maita-rivas-58890423b/?trk=public-profile-join-page" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </section>

    <main id="main">

        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Sobre mi</h2>
                    <p>Soy ingeniera civil con experiencia en diseño 2D y 3D. Habilidades en diseño de interiores y en mí tiempo libre realizo actividades de diseño gráfico (logos, flyers, presentaciones, etc.) </p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>
                            Ingeniera Civil / Diseñadora Gráfica, UX / UI
                        </h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>+58 424 877 8684</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>País:</strong> <span>Venezuela</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>30</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Profesión:</strong> <span>Ingeniera Civil / Diseñadora </span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Correo:</strong> <span>Aracelis.maita.r1231@gmail.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Durante el estudio de mi carrera profesional, he desarrollado proyectos de diseño gráfico y elaboración de planos civiles, adquiriendo capacidad de creatividad y diseño. Actualmente me encuentro en la búsqueda de un nuevo proyecto que me permita seguir perfeccionando habilidades y desarrollarme tanto personal como profesionalmente; aportando pasión, responsabilidad y entusiasmo por el trabajo bien hecho.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <section id="skills" class="skills section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Habilidades</h2>
                    <p>Durante mi experiencia he logrado desarrollar habilidades, conjunto de técnicas y herramientas relacionadas a mi carrera y hobbies.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">Figma <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Autocad <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Maprex <i class="val">60%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">OpenProj  <i class="val">60%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Microsoft Office (Word, Excel, Powerpoint) <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">Revit <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Adobe Photoshop <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Google Sketchup <i class="val">60%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Estimación de costos / APU <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Experiencia</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6">

                        <h3 class="resume-title">Educación</h3>
                        <div class="resume-item">
                            <h4>Ingenieria Civil</h4>
                            <h5>2022</h5>
                            <p><em>Universidad de Oriente</em></p>
                        </div>

                        <h3 class="resume-title">Cursos</h3>
                        <div class="resume-item">
                            <h4>OpenProj</h4>
                            <h5>2015</h5>
                            <p><em>Universidad de Oriente</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Estimación de costos / APU</h4>
                            <h5>2017</h5>
                            <p><em>IconGroup</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Maprex</h4>
                            <h5>2017</h5>
                            <p><em>Universidad de Oriente</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Revit 2020</h4>
                            <h5>2021</h5>
                            <p><em>Udemy - Cursos Online</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>AutoCAD, Revit, Revit MEP y ArchiCAD Avanzados</h4>
                            <h5>2021</h5>
                            <p><em>Udemy - Cursos Online</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Diseño y Decoración de Ambientes y Espacios Interiores</h4>
                            <h5>2022</h5>
                            <p><em>Udemy - Cursos Online</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Project Management en Español - Gestion de Proyectos</h4>
                            <h5>2022</h5>
                            <p><em>Udemy - Cursos Online</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Bootcamp 2022 diseño UX /UI: aprende Design Thinking y Figma</h4>
                            <h5>2022</h5>
                            <p><em>Udemy - Cursos Online</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>UX Design: Conceptos básicos para principiantes</h4>
                            <h5>2022</h5>
                            <p><em>Udemy - Cursos Online</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Introducción a Figma 2023</h4>
                            <h5>2022</h5>
                            <p><em>Udemy - Cursos Online</em></p>
                        </div>
                    </div>



                    <div class="col-lg-6">
                        <h3 class="resume-title">Experiencia profesional</h3>

                        <div class="resume-item">
                            <h4>DISEÑADORA UI/UX</h4>
                            <h5>11/2022 - Actual</h5>
                            <p><em>Sersumitca / El Tigre, Anzoátegui, Venezuela.  </em></p>
                            <p>Diseñador de interacción o investigación con usuarios, diseño y prototipado de páginas web en figma, diseño de material gráfico publicitario, preparación de planos y modelado 3D.</p>
                        </div>
                        <div class="resume-item">
                            <h4>DISEÑADORA GRÁFICA JUNIOR</h4>
                            <h5>02/2021 - 11/2022</h5>
                            <p><em>Sersumitca / El Tigre, Anzoátegui, Venezuela.</em></p>
                            <p>Diseño de logotipos, diseño de flyers, publicaciones en redes sociales, presentaciones corporativas, creación de infografías, preparación de planos 2D para diseño y remodelación de proyectos civiles.</p>
                        </div>

                        <div class="resume-item">
                            <h4>FREELANCE</h4>
                            <h5>06/2019 - 02/2021</h5>
                            <p><em>SLIDEVAGLA / Cantaura, Anzoátegui, Venezuela.</em></p>
                            <p>Diseño de logotipos, diseño de flyers, publicaciones en redes sociales, presentaciones corporativas en Power Point, creación de infografías y de folletos.</p>
                        </div>
                       
                        <div class="resume-item">
                            <h4>PROYECTISTA DE PLANOS EN AUTOCAD 2D</h4>
                            <h5>10/2020 - 11/2020</h5>
                            <p><em>CASSCHOICE / Cantaura, Anzoátegui, Venezuela.</em></p>
                            <p>Preparación de planos 2D y hojas de especificaciones para proyecto de remodelación de vivienda unifamiliar.</p>
                        </div>
                        
                        <div class="resume-item">
                            <h4>PROYECTISTA DE PLANOS EN AUTOCAD 2D</h4>
                            <h5>01/2019 - 02/2020</h5>
                            <p><em>Diseño y Construcciones Logoyelo C.A. / Cantaura, Anzoátegui, Venezuela.</em></p>
                            <p>Preparación de planos 2D y hojas de especificaciones para proyectos de obras civiles , tales como viviendas unifamiliares, instalación ganadera, corrales de trabajo bovino y  complejo equino. </p>
                        </div>
  
                    </div>
                </div>

            </div>
        </section>
        <section id="portfolio" class="portfolio section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Portafolio</h2>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-3D">Diseño 3D</li>
                            <li data-filter=".filter-publi">Publicidad</li>
                            <li data-filter=".filter-web">Web / UI-UX</li>
                            <li data-filter=".filter-plano">Planos</li>
                        </ul>
                    </div>
                </div>


                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-6 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/yYMFArAX1SRuB8Qh8"
                                 data-title="Gesfarm"
                                 data-description="Gestion de Farmacia"
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/BrjcU8o3Spbt7caqe8tcqyoVaie2RWMp-ruxtJAo82x0YUUxNig3rXyzCzys3JEUEfgKWmLTi80u-NhNkRrJzn32CL4XDCmJNuiOd6FETIkgK9ese28kUc5j7n4W3O9xsFMK2oleYw=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/Vag0uakI58OY-tPEIpt2ISVkwDSP7uKQ2XTe26PDJVmd_jRJeztZoHDHA2DEw5K305u9A8nVhVEk2J1Hi1NWVN_odiyYSJIGrc43ZtklQNy34wpE2sj6Ec2ymOwSqrfz18Ic1Phtfw=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/ydC2Au1LS5qcPRRuXWOWHovv4XZv8axnpbvigFjpbOWDdWwCx5cbdbIY1K8gJ6M0p_AAC-LLbr52yccnMtPDacFAmjQFwDygglPEDbrauIb6KBT62qE2Pa2dhbBR9U6qhjZvv9T0SQ=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/COnyWe88kdHJnuFVZISIsmF_CK4uv3btzV04il6Q43aYaVGO4J8AdGtcqjPwscvuRX7X4Y71_mKQTefOj7pJnZa5qTirN85MqpPaYUyezHJuQ_nImA8tcO8GWGCzIce1-OhyfH3qgA=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/CDLcLVuuy2JcRrEnuR9b9mUfgO_ufUfRp3tOIrYOdNZ39wIFCgOeutp_whxrUN2pjRaILD_3rToWUJEAbedUludMSrgXb1FUw5Ty_oiY_qCqJlW6FMLMqBE1uvTOnmbgZTvNukQ1UQ=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>App 1</h4>
                                <p>App</p>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/yYMFArAX1SRuB8Qh8" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/wAaBe7gyynMHhVL26"
                                 data-title="Sersumitca"
                                 data-description="Sistema de gestión de proyectos y servicios"
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/1LypFgY-JPmMYYb1XmgbzDc9np22taP0fceJFBuM5yGcRm6nSnQwVyzHKVVwSeyWg9BIhwyZ8CveyBFC9vyYYBnMub8LuFucyB4daSW7QAsh3UQyME_T7sx2acIqdMH5pV50fdkhOQ=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/00bFgtIAAAYRhWcsng7upMFH9ju3k1TTrfGMkrglhWlL76IBbGiEseD6O3eF9b3bmzZ251kKImgtwKDdsSNCUeMl2bbhc4MkbvlaEIlto_65gFx7mB6njjNM2fisMpf_hGAxrob5lg=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/miaYCQ1p7UK8sBpLGqm638y_UBklTi1PeX4FwO6L3eHLNBYbO3zoUdEW5YwGUC_Kpp9JXhSSS9QCWNqhiZqb5e_925l03h9AfjcYq8LA3IZHVzeMQAc0UuxeG7vk4lMxkDZ0jC79fQ=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/Th7qeuKU4p_H6WE9MzQ8ovsc6oJmIGzztWFCQVvGsbdSCcIMs8KvWhfVTo975zXsgQxQMPYhGzwdsDcHXOPbok1gOmWRkR_FWOV18Y1qBdZmqowl32AzAgfXBEVpm1RzBuME99SWMg=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/TfSVz3r-KF1H7F80Zc6veKMt4EDoVbO5hKICRPQIq5u1HF6x3SVIUiuyzLCnRwZNm2AjaTclvDuVXo8gXQHH928n98y3MeidGDW4T9D1PeunG85O0nYSm2XbZ_NBlkqGKkWuHWTqZA=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Sistema de gestión de proyectos y servicios</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/wAaBe7gyynMHhVL26" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/44d5799CowKjK27t5"
                                 data-title="Genesys"
                                 data-description="Diseño de pantalla de inicio de sesión"
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8BWgARfcfZpDMDjIltMZV6a5qnl0066EYva1b-wJsv69GoCQw1O4vyoeuNeb8DVQGiJJgFzEePYK0TXZMhHpm-A7VLfW03E9fplmV4e62ezrcxZ6_w=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8ARnDQ81XtGTIfjmdb9WjFisaHeWIG0EToOJzBfczlUaSsC-WtPTCCIKDc0MaVNCgfYtNyeK8vkNp6_asEFwrDva7-shVH-h9La9vigXd-9JlFaSW8=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Diseño de pantalla de inicio de sesión</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/44d5799CowKjK27t5" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-publi">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/q2S67Ys8CUXCDCwS9"
                                 data-title="Publicidad Farmacia Francisca Duarte"
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/rINYKZt5I9s04r5Bo2tcZWDGiba9WpOkjKDH9hK7FX4R9J-BZE3FI4_eS2-1vf0d6i5626L0kigVBw0VbNoFxm39brYAoidZvGuued-mfzbSb7tdwy-s1naYoDJoqrFjMNsG_QFMYA=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/51hnRWjUBf_ACddFidN5FslV2DL4sqW4D5-n0AHONueqcUceXH7QEglzZ48auI0oIXMU4Qy2cG2qkCI2m-ee5mtefyEAUBu16hMVPaUWbqxMMrdJiHg2HMBeDmwn9c5mf9_8ljiLYg=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/_uVeiPpMiz65suR02Q6gUzvpO858uyAJ6_71WiG2wZm9qbYV1qWDIB7OU8GH6ZxZTLuHg0bmWjA6kIX2oEMnUm2-Vuo4EDKpaB6KPbHM0OTXH09s2dZ0L5EAvGm0EOKG-ekxfIhf-w=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/Sr3SvlF1OhqSNjJjqhcuarbf3OnUrY44lnaudxMdMdEeiJbzQwwb3nA-xEgenlFcHxu5nATb5Y63eTzvuRjW2gjFOALkqJJ9CazVQU5xmqzXF9rbqSh6nPz2mhBCbdtzgTP_nRY1_w=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/0jWYL9TR0EFGS92kn7k7MDDJsuQNKY6Vcb6kovTm0EmKuaJLT7Du27giOVpAcD5NqaatuejkMcXoFnM-QY4LMVg_eiBZVoAz1_ZdKlE0MaLldLp9MEijcBmypkXXkJzK7nll5gUCvw=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Publicidad Farmacia Francisca Duarte</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/q2S67Ys8CUXCDCwS9" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-plano">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/mFUtcgXRpKxAv8XM7"
                                 data-title="Proyecto Instalación Ganadera, Alto Viento"
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8AWvyvIfXOu4OL1LmLDcm2i5zb4JTT603EcYll3uykiYlRbvlLQFjLSkNXyeNxRVtB15NoTCJ_xXrGNYQ7xTRAGHSSouQwjYWYe8V_gsPGIUjSurt0=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8CJ0oBFclBnqryZOmDvvfINHvw2UYjwwhcnj24Oo5qsIl1PhfA_FdgBleEM6CogMOVNV4b4nnjNGMvvbg_Ha1tnbjz0G6YNwyJ7mOA_gpSlBTfB-CU=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8CAhTUq72l7BPttx-bIZT6m9gqDv2sFsLxhm_ZmsZN276r8ayJhdn1lZtKegU59p2lAuzadrdBAfqvtxaZHd_H1mBHdcmwk3AcSU_P6_qN4iaXRjyY=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8DGOMFYzYCwLWoRx4vnds2Ztu4YQ0CIBvmD_sI2COMpiviNBJj4uF4LE_SIKxS6RxSC5oxhv-dKrC_nLESJz0PPNTGc_GuvkTWfhqVKtkZz39aDOBA=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8AjfBHxd76ztGtUfQCOO5uYe9fif3H64P-nd13wCK_Pki4RATNh3th9vgkCP5amOww3XqiEqZaYJu3UDO0LB-7eeX0gihjenPNczU3daPNn9KPID8M=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Instalación Ganadera, Alto Viento</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/mFUtcgXRpKxAv8XM7" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-plano">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/bbPgr2DrDvPkwB1G7"
                                 data-title="Proyecto Corrales de Trabajo, David A."
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/ipafVv21kol-RTHXkihMo5mnqRAW4sCLxX2AU6-qqbafIYvf1rfNjQCgbRXYQlA3DQQEq-woJuyUd4xF-hIIxiFdDRcGa5CsvDNOD3pnEeBLaXyrXMJ3PPHkNhmFBlJrWnWHQgD3Ng=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Corrales de Trabajo, David A.</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/bbPgr2DrDvPkwB1G7" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-plano">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/FuKSnQwbkJcEMA7CA"
                                 data-title="Proyecto Urbanístico Lina Ron "
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/R03OxmEA-8C5yjOLYCBgoLPNL8RMWXKvdSJr6M4BY04a1gaRryx7S181qMXpGfhfAYe3Bk1V0oypWkHQdmQPULcxPVWGwfO3mL03j7JcflymH_deJou0XX-zo0udmTpfatomxxtlWA=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/LQjsuELasrzKazc5i4ZFQKmHTdQYfc_OB-U0Ojgidsy9s6YKExgebL78r4Mszpdwoe0FFY4lDvNcANpHEL3GzXnLJSZOyDMwl6vZQecZ0uhl0s0TJhZeIKykPhOZWGIYOj7X0VzX4g=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/FP1Dww2v81MkUFxFEV79pn5TLz5_m5C4O7bDJOPgn4U_SRwWzhvrJiIMdaWCx9EXXSZqDiXM43Pk_R3TL-17fZ11KK88xfV8UYvXD2CYNOoqQcd0wHJ--CBJ7fN1cGWm-KXeM5BXSw=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/WPSYxsCGJ82H9NUzlTEPibgjtc-etxT8sGvLO2Vv49BEa4nH1rr3a5rpcr2hL8m7DA4eylnHMY55jYQiASeLJGSmCADxiHanKZGdBKnSfH9o0APadysG1bOSR_Q29zgAoCauc5RzZw=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/8Ys_b5ISErSaOGwr9hb0oeZPzf6QmcokYMA5TRLpmKr9nyVU7vWHfftReyG6lGcA4Z033LeYLiBq1JQaMiaeMJ8Ga1IevVWCts8tjKgxx5M2gdm2lu5367c8iCaZQJzNOJIB071fkw=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/qaWsYbkRGFUFKkNdFYQX1M2QwXScaKZQ0W_-wa-bF6di2Ud34IyzMcfq6ISX4vrJLFhSkxau-kkNUr9huspja4cB0gJqAbfDEdbceG2nawYPPtqTyEftzRqgLPfoLN3FdJjMWKB_sA=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Urbanístico Lina Ron</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/FuKSnQwbkJcEMA7CA" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-plano">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/NnGWtDGX8AxWG9Qk6"
                                 data-title="Proyecto Complejo Equino, Hnos Arcia"
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/KvromwlxtAbUtY2jbzBYPRVpwMiQg1kPHG9FRzVR4DqX4qXkA4OtbtjGTjvaxbygZTzqUj6B6g9jJn-UhLGSlt8FBFowR7hiroGPypRwejaNG7qRMeLnYb1OzymsMl3tIM0EtKD0MQ=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Complejo Equino, Hnos Arcia</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/NnGWtDGX8AxWG9Qk6" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-plano">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/8pLzBnSravBN5zZA9"
                                 data-title="Proyecto Vivienda Unifamiliar, Alejandro M."
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/vtQlwKiM0kcyYKYcErzyoTnzvDsZz-cnLMCWBl5RvNP8Sb3oxlHwlvjOWEmJ0kO_vcD-L-0taTZme1t_FJ17MIQ3yqfL_wrndHapNBfpZcuPMdRQInCc1tybTb2oJ3hHk9YH7QWB-Q=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Vivienda Unifamiliar, Alejandro M.</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/8pLzBnSravBN5zZA9" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-plano">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/MmmmxdMMJS54YS3ZA"
                                 data-title="Proyecto Complejo Equino Villavicencio"
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/JvPAaBq6XSW08Dg_YybEHu39aD9xDo4wjoYGPXfEsKVUWo_w3nm391uAR8w445iVEx3gvb6WAEoYXbSaR0R8kMKlWLTp6QijAn3XIAkR77hW8b9V9q_L0BFzITH64wIkHvMq1Cp4wA=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/ujeH1lsv087J7N0EPNJUKDMhr8feCWq72LgZURltLEB3NtS6t7uoSlJxlH0__YQP4VeNvSLVa1uVsl-FV6TIjioUfVR_MR6SOcSUTmCrSJ6_i2YmY4O_ybs93-C4v6AD7MF1HOfLow=w1920-h1080"></object>
                                <object data="https://lh3.googleusercontent.com/Rjh4T7DKnGeUy5P1T08zoCgBwYg3NWj8WOGnXC5mvy40DaiVMOVm9bK0Aff840n-dpsyArKg6OqgnRKvnCKUBlJ-zvQ6u9CPPBLH9XL9WeDI6eP4IoRs2QajYn-k56lUoaVYBY6DYg=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Complejo Equino Villavicencio</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/MmmmxdMMJS54YS3ZA" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-plano">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/P2TgAat6WHVRazYc6"
                                 data-title="Proyecto Vivienda Unifamiliar, Maira B."
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/QSuquNNCpIX5-_h6NGj1kHdd0B_3VTMEwL3hqeo46hsvgnjesZsAufbGYvMiWP7ZxSQybpENcQmaUJxlvKB8o60qb6f80JSbIJmyW4fnEmIXOAeCL5w6WUyMN9QVVUhFe6oQEQsATg=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Vivienda Unifamiliar, Maira B.</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/P2TgAat6WHVRazYc6" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 portfolio-item filter-3D">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/BGXbqZmkHyRwKBhYA"
                                 data-title="Proyecto Local Vesu"
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8ACTceACXxZSP_lHNZ9M780QxAKkI_FoCfMWgU6vsjQYU2fD_zGUPI5QL-tYjiI4sqkO6oEynnHSWNNPmphpvGA8njV3eWMwgxUrRzo3Bmj3YeZAOg=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Local Vesu</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/BGXbqZmkHyRwKBhYA" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-6 col-md-6 portfolio-item filter-3D">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/M2cfJuYvU1xXSfoW9"
                                 data-title="Proyecto Remodelación de Apartamento"
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/mD_fLm5cFi2R_aqs2bEgUCV-PInVw6nR2b5iVUYcw6X4gDdTqA6SVp8vodoF6BMKUCv-iVsu7bV6d-4jtHHTgJ0ZYn17fILxzZOZLg_BQm1RErUt2MqwmhbgcEq5-QUXRyJCc6p4yg=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Proyecto Remodelación de Apartamento</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/M2cfJuYvU1xXSfoW9" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    
                    <div class="col-lg-6 col-md-6 portfolio-item filter-3D">
                        <div class="portfolio-wrap">
                            <div class="pa-carousel-widget" style="width:640px; height:480px; display:none;"
                                 data-link="https://photos.app.goo.gl/rwUjBahuvb3DtwxB7"
                                 data-title="Vivienda Unifamiliar"
                                 data-description=""
                                 data-background-color="#ffffff">
                                <object data="https://lh3.googleusercontent.com/pw/AMWts8A8_N6otnLmDJT9vfvdSouqT0iuwS86EV3k6S8SezrIaKA0Kn6rNeWQq_NYUQMIDoSE93tAvAFJTDaBGxecI-WFWHBU1LFHIvqw0hQRWaguFm8P-nc=w1920-h1080"></object>
                            </div>
                            <div class="portfolio-info">
                                <h4>Vivienda Unifamiliar</h4>
                                <div class="portfolio-links">
                                    <a href="https://photos.app.goo.gl/rwUjBahuvb3DtwxB7" target=”_blank”><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Servicios</h2>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                                </svg>
                                <i class='bx bx-buildings'></i>
                            </div>
                            <h4><a href="">Proyectista</a></h4>
                            <p>Planos en 2D y 3D, propuestas de diseño para diferentes requerimientos</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-orange ">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                                </svg>
                                <i class='bx bx-arch'></i>
                            </div>
                            <h4><a href="">Diseño y decoración de interiores</a></h4>
                            <p>Propuestas de distribución de espacios y decoración de espacios según las necesidades del cliente</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-pink">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                                </svg>
                                <i class='bx bx-dollar'></i>
                            </div>
                            <h4><a href="">Estimación de costos</a></h4>
                            <p>Cálculos de aproximación de costos en base a las necesidades del proyecto</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                                </svg>
                                <i class='bx bxs-paint'></i>
                            </div>
                            <h4><a href="">Diseño grafico</a></h4>
                            <p>Diseño de presentaciones, flyers, logos y material publicitario</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-red">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                                </svg>
                                <i class="bx bx-file"></i>
                            </div>
                            <h4><a href="">Diseño web / UX-UI</a></h4>
                            <p>Diseño de páginas web y prototipos de sistemas</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contacto</h2>
                </div>

                <div class="row mt-1">

                    <div class="col-lg-12">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Ubicación:</h4>
                                <p>El Tigre, Venezuela</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Correo:</h4>
                                <p>Aracelis.maita.r1231@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Teléfono:</h4>
                                <p>+58 424 877 8684</p>
                            </div>

                        </div>

                    </div>



                </div>

            </div>
        </section>

    </main>
    <footer id="footer">
        <div class="container">
            <h3>Aracelis Maita</h3>
            <div class="social-links">
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/in/aracelis-maita-rivas-58890423b/?trk=public-profile-join-page" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <script src="https://cdn.jsdelivr.net/npm/publicalbum@1.3.4/embed-ui.min.js" async></script>




</body>

</html>